/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.flex_box {
  display: flex;
  flex-wrap: wrap;
}

.flex_item {
  margin:  10px;
  border-radius: 11px 11px 0 0;
}



.card-body {
  padding: 0;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
// https://qiita.com/KazuyoshiGoto/items/4f88e87bb12ff38d1c4e line-clampについて

.slider {
  max-width: 800px;
  margin: 0 auto 5px;
  padding: 0;
}
.slider img,.slider-1 img{
  width: 100%;
}
// .slider-1 { max-width: 700px; margin: 0 auto;}
// .slider-1 li { margin: 5px;}
// .slider-1 .slick-next { right: 20px; z-index: 100;}
// .slider-1 .slick-prev { left: 15px; z-index: 100;}
.slider-1 .slick-current {
  opacity: 0.5;
}
.slider-1 {
  cursor: pointer;
}

// .img_wrap{
//   border: 1px solid #ddd;
//   margin: 0 auto;
//   overflow: hidden;
//   cursor: pointer;
// }
// .img_wrap img{
//   width: 100%;
//   transition-duration: 0.5s;
// }
// .img_wrap:hover img{
//   transform: scale(1.2);
//   transition-duration: 0.5s;
// }





.home_image_content {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  padding-top: 230px;
}

.home_image_text {
  width: 100%;
  padding-left: 20px;
  color: #fff;
}

.home_image_text_name {
  width: 100%;
  margin-top: 30px;
  color: #fff;
}

.home_postProducts {
  width: 70%;
}

.home_image {
  height: 600px;
  background-image: image-url("oneworld.jpeg");
  background-size: cover;
  background-position: center;
}

.end_user_image {
  height: 600px;
  background-image: image-url("leaf.jpeg");
  background-size: cover;
  background-position: center;
}

.postProducts_image {
  height: 600px;
  background-image: image-url("windturbine.jpeg");
  background-size: cover;
  background-position: center;
}

.end_user_index_image {
  height: 600px;
  background-image: image-url("sea.jpeg");
  background-size: cover;
  background-position: center"
}

.logo_image {
  height: 100px;
  background-image: image-url("logosample.jpeg");
  background-size: 100%;
  background-position: center;
}

.productImage {
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 200px;
  background-image: image-url("noimage.jpg");
  background-size: cover;
  background-position: center;
}

.postProductShowNoImage {
  background-image: image-url("noimage.jpg");
  background-size: cover;
  background-position: center;
}

.footer {
  height: 300px;
  width: 100%;
  background: #1c2f49;
}



.btn--blue_dark {
  background: #1c2f49;
  min-width: 300px;
  min-height: 60px;
  color: #fff;
  webkit-transition: all 0.8s ease;
  moz-transition: all 0.8s ease;
  o-transition: all 0.8s ease;
  transition: all  0.8s ease;
}

.btn {
  border-radius: 10px;
  font: 600 1rem/1.2 Montserrat,sans-serif;
}
// https://beginners-high.com/css-hover-change/ ボタンhover説明

.btn--blue_dark:hover {
  background-color: #00aca9;
  color: #fff;
}

.btn--transparence {
  color: #00aca9;
  border: 1px solid #00aca9;
  min-width: 300px;
  min-height: 60px;
  font: 600 1rem/1.2 Montserrat,sans-serif;
  webkit-transition: all 0.8s ease;
  moz-transition: all 0.8s ease;
  o-transition: all 0.8s ease;
  transition: all  0.8s ease;
}

.btn--transparence:hover {
  background: #1c2f49;
  color: #fff;
}

.home_text {
  width: 70%;
}

.title--bold {
  font-weight: 700;
}

.title {
  font-size: 2.5rem;
  line-height: 1.1;
  // white-space: pre-line;
}

.pagination {
  text-align: center;
}

.no-underline{
  text-decoration:none !important;
  color: #00aca9;
}

.postProductBookmark {
  position: relative;

}
.bookmarks {
    justify-content: center;
    align-items: center;
    position: absolute;
    min-width: 120px;
    min-height: 30;
    top: 46%;
    left: 28%;
}
.readMore {
  position: absolute;
  top: 90%;
  left: 9%;
  color: #00aca9;
}
.updatedAt {
  position: absolute;
  top: 92%;
  left: 75%;
}

.card {
  height: 400px;
}
// https://www.sejuku.net/blog/56401 flexbox説明

.pagination {
  justify-content: center;
}