/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue Ultra Light";
}

a {
  color:#00aca9;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  min-height: 100vh;
  position: relative;
  padding-bottom: 300px;
}

.text-color {
  color: #333;
}


.profile-pic {
  width: 100px;
  height: 100px;
}


.flex_box {
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin:  10px;
  border-radius: 11px 11px 0 0;
}



.card-body {
  padding: 0 10px 0 0;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1.3;
}
// https://qiita.com/KazuyoshiGoto/items/4f88e87bb12ff38d1c4e line-clampについて

.slider {
  max-width: 800px;
  margin: 0 auto 5px;
  padding: 0;
}

.slider img,.slider-1 img{
  width: 100%;
}

.slider-1 .slick-current {
  opacity: 0.5;
}

.slider-1 {
  cursor: pointer;
}


.home_image_content {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  padding-top: 230px;
}

.home_image_text {
  width: 100%;
  padding-left: 20px;
  color: #fff;
}

.home_image_text_name {
  width: 100%;
  margin-top: 30px;
  color: #fff;
}

.home_postProducts {
  width: 70%;
}

.home_image {
  height: 600px;
  background-image: image-url("oneworld.jpeg");
  background-size: cover;
  background-position: center;
}

.end_user_image {
  height: 600px;
  background-image: image-url("leaf.jpeg");
  background-size: cover;
  background-position: center;
}

.postProducts_image {
  height: 600px;
  background-image: image-url("windturbine.jpeg");
  background-size: cover;
  background-position: center;
}

.logo_image {
  height: 100px;
  width: 80%;
  background-image: image-url("logosample.jpeg");
  background-size: 100%;
  background-position: center;
}

.productImage {
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 200px;
  background-image: image-url("noimage.jpg");
  background-size: cover;
  background-position: center;
}

.postProductShowNoImage {
  background-image: image-url("noimage.jpg");
  background-size: cover;
  background-position: center;
}

.footer {
  height: 300px;
  width: 100%;
  background: #1c2f49;
  position: absolute;
  bottom: 0;
}

.btn-sign {
  background: #1c2f49;

  color: #fff;
  webkit-transition: all 0.8s ease;
  moz-transition: all 0.8s ease;
  o-transition: all 0.8s ease;
  transition: all  0.8s ease;
}

.btn-sign:hover {
  background-color: #00aca9;
  color: #fff;
}



.btn--blue_dark {
  background: #1c2f49;
  min-width: 300px;
  min-height: 60px;
  color: #fff;
  webkit-transition: all 0.8s ease;
  moz-transition: all 0.8s ease;
  o-transition: all 0.8s ease;
  transition: all  0.8s ease;
}

.btn--blue_dark:hover {
  background-color: #00aca9;
  color: #fff;
}

.btn {
  border-radius: 10px;
  font: 600 1rem/1.2 Montserrat,sans-serif;
}
// https://beginners-high.com/css-hover-change/ ボタンhover説明



.btn--transparence {
  color: #00aca9;
  border: 1px solid #00aca9;
  min-width: 300px;
  min-height: 60px;
  font: 600 1rem/1.2 Montserrat,sans-serif;
  webkit-transition: all 0.8s ease;
  moz-transition: all 0.8s ease;
  o-transition: all 0.8s ease;
  transition: all  0.8s ease;
}

.btn--transparence:hover {
  background: #1c2f49;
  color: #fff;
}

.btn-bookmark-post {
 color: #00aca9;
  border: 1px solid #00aca9;
  font: 600 1rem/1.2 Montserrat,sans-serif;
  webkit-transition: all 0.8s ease;
  moz-transition: all 0.8s ease;
  o-transition: all 0.8s ease;
  transition: all  0.8s ease;
}
.btn-bookmark:hover {
  background: #1c2f49;
  color: #fff;
}

.btn-bookmark-delete {
  background: #1c2f49;
  color: #fff;
  webkit-transition: all 0.8s ease;
  moz-transition: all 0.8s ease;
  o-transition: all 0.8s ease;
  transition: all  0.8s ease;
}

.btn-bookmark-delete:hover {
  background-color: #00aca9;
  color: #fff;
}

.home_text {
  width: 70%;
  margin: 100px 0 150px 0;
}

.title--bold {
  font-weight: 700;
}

.top-title {
  font-size: 2.5rem;
  line-height: 1.1;
  // white-space: pre-line;
}

.pagination {
  text-align: center;
}

.no-underline{
  text-decoration:none !important;
  color: #00aca9;
}

.postProductBookmark {
  position: relative;

}
.bookmarks {
    justify-content: center;
    align-items: center;
    position: absolute;
    min-width: 120px;
    min-height: 30;
    top: 46%;
    left: 28%;
    background:#fff;
    color:#00aca9;
}
.readMore {
  position: absolute;
  top: 90%;
  left: 9%;
  color: #00aca9;
}
.updatedAt {
  position: absolute;
  top: 92%;
  left: 75%;
}

.card {
  height: 400px;
  width: 17rem;
}
// https://www.sejuku.net/blog/56401 flexbox説明

.pagination {
  justify-content: center;
}

.fa-book-reader {
  color: #00aca9;
}

.fa-book-open {
  color: #00aca9;
}

.bookmarks-bookmark-text,
.end-users-show-new-none{
  color: #00aca9;
}

.card-area {
  display: flex;
  flex-wrap: wrap;
}

.top-number-users-area {
  background:#00aca9;
}

.top-number-users {
  color:#fff;
}

.top-number-users-text {
  color:#fff;
}

.end-users-show-table {
  line-height: 30px;
}

.table-profile-pic {
  width: 20%;
}

.table-nickname {
  width: 45%;
  font-size: 20px;
}

.nav-item {
  margin: 0 20px;
}

.follower-followerd-container,
.bookmarks-container,
.post-index-row {
  min-height: 500px;
}

.post-products-show-title {
  font-weight: 700;
}

.post-products-show-namebookmark {
  display: flex;
}

.bookmark {
  margin-left: 20px;
}









@media screen and (min-width:1500px) {

  .logo_image {
    height: 180px;
    width: 100%;
  }


}



@media screen and (min-width:300px) and (max-width:1000px) {

  .logo_image {
    height: 180px;
    width: 100%;
  }

  .navbar-toggler-icon {
    width: 5rem;
    height: 5rem;
  }

  .nav-link {
    font-size: 50px;
  }

  .home_image_content {
    padding-top: 150px;
  }


  .home_image_text{
    font-size: 40px;
  }

  .home_image_text_name {
    font-size: 40px;
  }

  .card {
    width: 90%;
    height: 1200px;
    margin-top: 100px;
    border-radius: 52px 52px 0 0;

  }
  .card-body {
    padding-right: 10px;
    padding-top: 30px;
  }

  .card-title{
    font-size: 45px;
  }
  .card-text {
    font-size: 35px;
  }
  .readMore {
    position: absolute;
    font-size: 35px;
  }
  .updatedAt {
    position: absolute;
    font-size: 35px;
    top: 90%;
    left: 80%;
  }
  .productImage {
    width: 100%;
    height: 700px;
    background-image: image-url("noimage.jpg");
    border-radius: 50px 50px 0 0;
  }
  .bookmarks {
    top: 56%;
    left: 36%;
    background:#fff;
    color:#00aca9;
    min-width: 200px;
    min-height: 100;
    font-size: 40px;
  }

  .topReadAllBtn{
    min-width: 50%;
    min-height: 100px;
    font-size: 40px;
  }

  .top-title {
    font-size: 3.5rem;
    margin-top: 100px;
  }
  .top-text {
    font-size: 2rem;
    margin: 100px 0;
  }

  .top-number-users{
    font-size: 45px;
  }
  .top-number-users-text {
    font-size: 45px;
  }


  .end-users-show-nickname {
    font-size: 45px;
  }

  .end-user-bookmark,
  .relationship-count,
  .end-user-bookmark-p,
  .relationship-count-p {
    font-size: 40px;
    margin-top: 20px;
  }


  .edit-btn {
    min-width: 500px;
    min-height: 100px;
    font-size: 40px;
    margin: 100px 0;
  }

  .end-users-show-introduction {
    font-size: 40px;
    margin-top: 20px;
  }


  .end-user-index-nickname {
    font-size: 30px;
  }

  .post-products-show-nickname {
    font-size: 45px;
  }

  .post-products-show-title {
    font-size: 45px;
    margin-top: 50px;
  }

  .post-products-show-text {
    font-size: 30px;
  }

  .fa-bookmark {
    font-size: 40px;
  }

  .relationship-btn {
    font-size: 35px;
    padding-bottom: 15px;
  }

  .table-nickname {
    font-size: 40px;
  }

  .modal-dialog-fluid {
    max-width: inherit;
  width: 98%;
  }

  .modal-responsible-text,
  .edit-text {
    font-size: 40px;
  }

  .popover-header  {
    font-size: 40px;
  }

  .popover-body {
    font-size: 40px;
  }

  .profile-pic {
    width: 140px;
    height: 140px;
  }

  .follower-followerd-container,
  .bookmarks-container,
  .post-index-row {
    min-height: 1500px;
  }

  .btn-bookmark-post,
  .btn-bookmark-delete {
    width: 100px;
    height: 100px;
    margin-left: 30px;
    padding-top: 27px;
    text-align: center;
  }

  .bookmark-text {
    font-size: 40px;
  }


}