<div class="row">
  <div class="col text-center">
    <%= link_to followed_path(end_user.id) do %>
      <div class="relationship-count colorTextBase">
        <%= end_user.follower.count %>
      </div>
      <p class="relationship-count-p colorTextBase">フォロー中</p>
     <% end %>
  </div>
  <div class="col text-center">
    <%= link_to follower_path(end_user.id) do %>
      <div class="relationship-count colorTextBase">
        <%= end_user.followed.count %>
      </div>
      <p class="relationship-count-p colorTextBase">フォロワー</p>
    <% end %>
  </div>
</div>