<div class="row pt-5">
  <div class="col text-center">
    <%= end_user.follower.count %>
    <p>フォロー中</p>
  </div>
  <div class="col text-center">
    <%= end_user.followed.count %>
    <p>フォロワー</p>
  </div>
</div>